.checkAlergeno{
    display: none;
}


.checkAlergeno ~ label{
    filter: grayscale(1);
    cursor: pointer;
}

.checkAlergeno:checked ~ label{
    filter: grayscale(0);
}

.imagen_izquierda_modal {
    display: block;
    max-width: 100%;
}
.imagen_final {
    display: block;
    max-width: 100%;
}
.preview_imagen_recortada {
    overflow: hidden;
    width: 1280px;
    height: 720px;
    margin: 10px;
    border: 1px solid grey;
}

.cont-alergenos{
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0;
    justify-content: space-between;

}

.cont-alergenos span{
    width: 23%;
    display: flex;
    justify-content: center;
    margin:0 0 0.5rem 0;
    height: max-content;
    flex-direction: column;
    font-size: 10px;
}

.cont-alergenos p{
    margin-bottom: 0;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    text-align: center;
}

.cont-alergenos img{
    width: 100%;
    height: auto;
}

.opc-plato::after{
    display: none !important;

}

.opc-plato{
    background: transparent;
    border: none;
    box-shadow: none;
    width: max-content;
    position: absolute !important;
    right: 0;
}

.opc-plato img{
    height: 1rem;
}

.agarrar:active{
    cursor: grabbing;
}

.mostrarBoton{
    display:block !important;
}

img{
    pointer-events: none;
}

.cont-alergenos-crear{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cont-alergenos-crear span{
    width: 18%;
    display: flex;
    justify-content: center;
    margin: 0 0 0.5rem 0;
    height: max-content;
    flex-direction: column;
    font-size: 10px;
}

.cont-alergenos-crear p{
    margin-bottom: 0;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    text-align: center;
}

.cont-alergenos-crear img{
    width: 100%;
    height: auto;
}

.checkAlergenosEdit{
    display: none;
}

.cont-alergenos-edit{
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cont-alergenos-edit>span{
    width: 12%;
    display: flex;
    justify-content: center;
    margin: 0 0 0.5rem 0;
    height: max-content;
    flex-direction: column;
    font-size: 10px;
}

.cont-alergenos-edit label p{
    margin-bottom: 0;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    text-align: center;
}

.cont-alergenos-edit label img{
    width: 100%;
    height: auto;
}

.checkAlergenosEdit ~ label{
    filter: grayscale(1);
    cursor: pointer;
}

.checkAlergenosEdit:checked ~ label{
    filter: grayscale(0);
}

.img-plato-ordenar{
    width: 18%;
    margin:0.5rem 1%;
}

.checkImg{
    display: none;
}

.checkImg ~ label{
    opacity: 0.5;
    cursor: pointer;
}

.checkImg:checked ~ label{
    opacity: 1;
}

.categoria-link{
    color:#f67599 !important;
}

.btn-opc:hover {
    color: white;
    background-color: black;
}

.btn-opc{
    background-color: #E9ECEF;
    color: #868E96;
    transition: all 0.2s linear;
}
