*{
    font-family: "Poppins", Helvetica, sans-serif;
}

.btn-dashboard a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3rem;
    width: 16rem;
    height: 8rem;
    flex-direction: column;
    background: white;
    color: gray;
    border-radius:10px ;
    transition: all 0.2s linear;
    box-shadow: 0 2px 20px -9px #00000026;

}

.btn-dashboard a i{
    color:#F67599;
    font-size:30px
}

.btn-dashboard a:hover{
    background-color:#F67599;
    color:white;
    text-decoration: none;
}

.btn-dashboard a:hover i{
    color:white;
}

.contentList{
    width: 100%;
}

.imgPrin{
    width: 80%;
}

.contRow{
    padding:0 17%;
}

@media (max-width:650px){
    .contRow{
        justify-content: center !important;
    }
}

.title-listado{
    margin-bottom: -3.5rem;
}

@media (max-width:1250px){
    .title-listado{
        margin-bottom: 0;
    }

    .cont-encabezado{
        flex-direction: column;
    }

    .cont-opc-rest{
        margin-top: 7px;
    }
}

@media (max-width:750px){
    .img-resto{
        display: none;
    }

    #tabla_listado_restaurantes_filter, #tabla_listado_restaurantes_length{
        float: left;
    }
}

.contImgPrin{
    text-align: center;
    margin-bottom: 3rem;
}

.cont-paginacion{
    display: flex;
}

.cont-paginacion li{
    list-style: none;
    margin:0 5px;
}

.liActive{
    background-color: blue;
}

.tres::after{
    content: " ...";
}

.tresA::before{
    content: "... ";
}

.ocultarLi{
    display: none;
}

.inputBuscar{
    padding:1.2rem 1.7rem 1.2rem 1rem  !important;
    border-radius: 11px !important;
    box-shadow: #80808066 0 0 0.1rem 0.1rem;
    margin: 1.5rem 1rem 1.5rem 0;
}

#icon-buscador{
    margin: 0 0 0 -2.5rem;
    color: #808080c7;
}

.cont-encabezado{
    display: flex;
}

.cont-encabezado a:hover{
    text-decoration: none;
}

.cont-encabezado h2{
    margin:0 5px 0 0;
}

.status-info{
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}

.cont-opc-rest button, .cont-btn-ver button{
    background-color: #E9ECEF;
    color:#868E96;
    font-size: 14px;
    font-weight: 500;
    padding: 0.4rem 1.1rem;
    border-radius: 21px;
    transition: all 0.2s linear;
}

.cont-opc-rest button:hover, .cont-btn-ver button:hover{
    color:white;
    background-color: black;
}

.cont-info-sec{
    padding-left: 2rem;
    color:#868E96;
}

.cont-info-sec i{
    color:black;
    width: 15px;
}

#tabla_listado_restaurantes{
    width: 100%;
    border: none;
}

.fila{
    transition:all 0.2s linear;
    background-color: white;
}

.fila:hover{
    background-color: #F7F7F7;
    box-shadow: #80808057 0 0 0.5rem;
}

.fila td{
    height: 11rem;
}

.cont-sec-right{
    flex:1;
}

.img-resto{
    width: 6rem;
    border: solid 1px;
    height: 6rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.title-table{
    display: inline-block;
    margin-bottom: -1rem;
    font-size: 29px;
    font-weight: 700;
}

.pagination .paginate_button{
    color:#F67599 !important;
}

.pagination .active{
    color:white !important;
}

.cont-botones-nav{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 5rem;
    justify-content: space-between;
 }

 .cont-botones-nav a{
    min-width: max-content;
    margin: 1rem;
    background-color: white;
    color: gray;
    padding: 0.7rem 1rem;
    border-radius: 14px;
 }

 .cont-botones-nav a i{
     color:#f67599;
     width: 20px;
 }

 .cont-botones-nav .active i{
    color:white;
}

 .cont-botones-nav a:hover{
     text-decoration: none;
 }

 .cont-botones-nav .active{
     background-color: #f67599;
     color:white;
 }

 .cont-botones-nav a:hover{
    text-decoration: none;
    color:gray;
}

 .cont-botones-nav .active:hover{
     color:white;
 }


.btn-guardar{
    background-color: #f67599 !important;
    color:white !important;
}

.cont-botones-nav{
    flex-direction: row;
    justify-content: flex-start;
    height: max-content;
    padding-bottom: 2rem;
}

.btn-volver{
    display: none;
}

.cont-btn-sec{
    display: contents !important;
}
